# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.#*
*.bak

Debug/*
.settings/*
cscope.files
cscope.out
*.pdf
*.gpdsc
*~
/Debug/
STM32CubeIDE/*
src/stm32Info.cpp
License.md
.idea/*
cmake-build-debug/*
LICENSE.txt
MonitorCPPN.txt
